button{
    width: 120px;
    height: 60px;
    font-family: Verdana, sans-serif;
    font-size:20px;
    border-radius:10px 10px 10px 10px;
    background-color:silver
    }
    
#ac, #equal{
    width: 240px;
    }

input{
    font-size: 48px;
    text-align: right; 
    color: white;
    background-color:black;
    }
